#menu{
	position: fixed;
	opacity:0.8; 	
	top:0;
	background-color: #282828;
	left:-145px;
	width : 150px;
	height: 100%;
	z-index: 80;
	border-right: 2px solid #3296c8;

	-webkit-transition:box-shadow 1.30s,left 1s cubic-bezier(.25,.1,.25,1);
	-moz-transition:box-shadow 1.30s,left 1s cubic-bezier(.25,.1,.25,1);
	-o-transition:box-shadow 1.30s,left 1s cubic-bezier(.25,.1,.25,1);
	-ms-transition:box-shadow 1.30s,left 1s cubic-bezier(.25,.1,.25,1);


}

#menu *{
	opacity: 1;
}

.left0{
	left:0 !important;
		-webkit-box-shadow: 5px 0px 15px 5px #101010;
	box-shadow: 5px 0px 15px 5px #101010;
}

#menu:hover{
	left:0px;
	-webkit-box-shadow: 5px 0px 15px 5px #101010;
	box-shadow: 5px 0px 15px 5px #101010;
}


.menu{
	position: relative;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	font-family: "Myriad Pro";
	top: 2em;
}
.sous_menu{
	position: relative;
	margin: auto;
	margin-top: 0.5em;
	width : 100px;
	height: 75px;

}

.sous_menu a{
	text-decoration: none; 
}


#menu>div{
	position: absolute;
	height: 50px;
	width: 50px;
	top: 45%;
	left:125.5px;
	background-color: #282828;
	border-top: 2px solid #3296c8;
	border-right: 2px solid #3296c8;
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform:rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);

	z-index: 90;
}

.sous_menu a div{
	width: 100px;
	margin: auto;
	height: 15px;
	padding-top: 2.5em;
	margin:0;
	color:#ffffff;
}

.img_home{
	background-image: url('../images/elements/menu/menu_home/normal.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition:color 0.5s,background-image 0.5s;
	-moz-transition:color 0.5s,background-image 0.5s;
	-o-transition:color 0.5s,background-image 0.5s;
	-ms-transition:color 0.5s,background-image 0.5s;
}

.img_home:hover{ 
	color: #3296c8;
	background-image: url('../images/elements/menu/menu_home/hover.png');
}
/*************************/

.img_presentation{
	background-image: url('../images/elements/menu/menu_presentation/normal.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition:color 0.5s,background-image 0.5s;
	-moz-transition:color 0.5s,background-image 0.5s;
	-o-transition:color 0.5s,background-image 0.5s;
	-ms-transition:color 0.5s,background-image 0.5s;
}
.img_presentation:hover{
	color: #3296c8;
	background-image: url('../images/elements/menu/menu_presentation/hover.png');
}

/*************************/
.img_forfaits{
	background-image: url('../images/elements/menu/menu_forfaits/normal.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition:color 0.5s,background-image 0.5s;
	-moz-transition:color 0.5s,background-image 0.5s;
	-o-transition:color 0.5s,background-image 0.5s;
	-ms-transition:color 0.5s,background-image 0.5s;
}
.img_forfaits:hover{
	color: #3296c8;
	background-image: url('../images/elements/menu/menu_forfaits/hover.png');
}

/*************************/
.img_hypnoses{
	background-image: url('../images/elements/menu/menu_hypnoses/normal.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition:color 0.5s,background-image 0.5s;
	-moz-transition:color 0.5s,background-image 0.5s;
	-o-transition:color 0.5s,background-image 0.5s;
	-ms-transition:color 0.5s,background-image 0.5s;
}
.img_hypnoses:hover{
	color: #3296c8;
	background-image: url('../images/elements/menu/menu_hypnoses/hover.png');
}

/*************************/
.img_maps{
	background-image: url('../images/elements/menu/menu_maps/normal.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition:color 0.5s,background-image 0.5s;
	-moz-transition:color 0.5s,background-image 0.5s;
	-o-transition:color 0.5s,background-image 0.5s;
	-ms-transition:color 0.5s,background-image 0.5s;
}
.img_maps:hover{
	color: #3296c8;
	background-image: url('../images/elements/menu/menu_maps/hover.png');
}

/*************************/
.img_contact{
	background-image: url('../images/elements/menu/menu_contact/normal.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition:color 0.5s,background-image 0.5s;
	-moz-transition:color 0.5s,background-image 0.5s;
	-o-transition:color 0.5s,background-image 0.5s;
	-ms-transition:color 0.5s,background-image 0.5s;
}
.img_contact:hover{
	color: #3296c8;
	background-image: url('../images/elements/menu/menu_contact/hover.png');
}
/*************************/
.img_impressions{
	background-image: url('../images/elements/menu/menu_impressions/normal.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition:color 0.5s,background-image 0.5s;
	-moz-transition:color 0.5s,background-image 0.5s;
	-o-transition:color 0.5s,background-image 0.5s;
	-ms-transition:color 0.5s,background-image 0.5s;
}
.img_impressions:hover{
	color: #3296c8;
	background-image: url('../images/elements/menu/menu_impressions/hover.png');
}
/*************************/

