#conteneur {width: 945px; position: relative; top: 200px; margin: 0 auto; color: #FFF;}
#conteneur h2 { font-size: 20px; font-family: 'Oswald'; display: inline;}
#thumbs { overflow: auto; height: 375px; width: 320px; padding: 0; float: left; }
#thumbs ul { list-style-type: none; margin: 0 10px 0; padding: 0 0 10px 0; }
#thumbs ul li { height: 75px;}
#thumbs ul li a {text-decoration: none; color: #FFF;}
.thumb { border: 0; float: left; width: 100px; height: 75px; background: url(http://a.vimeocdn.com/thumbnails/defaults/default.75x100.jpg); margin-right: 10px; }
#embed { padding-right: 10px; height: 336px; width: 605px; float: left; }
#portrait { float: left; margin-right: 5px; max-width: 100px; }
#stats { clear: both; margin-bottom: 20px; }